<main class="container">
  @if (loadingService.isLoading()) {
  <div class="loading-overlay">
    <div class="alert-card">
      <div class="spinner"></div>

      @if (loadingService.isLongWait()) {
      <div class="render-info">
        <h3>🚀 Waking Up Server</h3>
        <p>
          <strong>Render's</strong> free hosting tier spins down after 15
          minutes of inactivity.
        </p>
        <p class="highlight">
          The service is starting up, please wait a few seconds...
        </p>
      </div>
      } @else {
      <p>Loading data...</p>
      }
    </div>
  </div>
  }
  <router-outlet />
</main>
