services:
  - type: web
    name: candidate-api
    runtime: node
    plan: free
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
  - type: web
    name: candidate-app
    runtime: static
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: dist/frontend/browser
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
